<header class="bg-gradient-to-r from-blue-500 to-blue-700 text-white p-6 shadow-lg">
    <div class="text-center">
        <h1 class="text-3x1 font-bold">{{props.title}}</h1>
        <p class="text-lg mt-2">{{props.subtitle}}</p>
    </div>

    <div class="mt-4">
        <hr class="border-t border-blue-300 opacity-50">
    </div>

    <nav class="mt-4">
        <ul class="flex justify-center space-x-6 text-with font-semibold">
            <li>
                <a routerLink="/pages/gallery" class="hover:text-yellow-300 cursor-pointer">Gallery</a>
            </li>
            <li>
                <a routerLink="/pages/categories" class="hover:text-yellow-300 cursor-pointer">Categories</a>
            </li>
            <li>
                <a routerLink="/pages/places" class="hover:text-yellow-300 cursor-pointer">Places</a>
            </li>
            <li>
                <a routerLink="/pages" class="hover:text-yellow-300 cursor-pointer">Exit</a>
            </li>
        </ul>
    </nav>
</header>

<router-outlet></router-outlet> <!-- Os modulos filhos irão aparecer aqui -->

<footer class="bg-gray-300 text-center p-4 mt-6">
    <p class="text-gray-600 text-sm">© 2025 Trip App. All rights reserved.</p>
</footer>